:root {
  --primary: #33afa9;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-y: overlay;
}

/* css responsive for container - main content  */
.container {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0px 8px;
}
@media (min-width: 768px) {
  .container {
    padding: 0px 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0px 132px;
  }
}

/* Button css */
.btn-1 {
  padding: 4px 16px;
  border-radius: 6px;
  background-color: var(--primary);
  color: white;
  font-weight: 600;
}
.btn-1:hover {
  background-color: rgb(41, 156, 141);
}

.btn-2 {
  padding: 4px 16px;
  border-width: 1px;
  border-radius: 6px;
  border-color: var(--primary);
  color: var(--primary);
  font-weight: 600;
}
.btn-2:hover {
  background-color: rgb(244, 241, 241);
}

/* Company menu li-tag */
.menu-company {
  width: 33.33%;
  font-weight: bold;
  text-align: center;
  border: 1px solid var(--primary);
  padding: 10px;
  cursor: pointer;
}
.menu-company:hover {
  color: var(--primary);
}
.menu-company-active {
  background-color: var(--primary);
  color: white;
}
.menu-company-active:hover {
  color: white;
}

/* Blog menu */
.menu-blog {
  width: 20%;
  font-weight: bold;
  border: 1px solid #aaa;
  color: #555;
  padding: 4px 0px;
  border-radius: 1.5rem;
}
.menu-blog:hover {
  color: var(--primary);
  font-weight: bold;
  border: 2px solid var(--primary);
}
.stickyBlog {
  position: fixed;
  top: 64px;
  width: 100%;
  height: 56px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1000;
  background-color: white;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-shadow);
}

/* Multi tag search */
.tagsClass {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tagInputClass {
  display: flex;
  flex: 1;
  width: 100%;
}

.tagInputFieldClass {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.selectedClass {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tagClass {
  background: var(--primary);
  border-radius: 4px;
  color: white;
  padding: 5px 8px;
  margin: 2px;
  display: flex;
  align-items: center;
  cursor: text !important;
  margin-right: 10px;
}
.tagClass:hover {
  gap: 0.5rem;
  transition-duration: 500ms;
}

.removeClass {
  cursor: pointer;
  margin-left: 8px;
  font-weight: bold;
}

/* zoom image hover */
.zoom-container {
  overflow: hidden; /* Đảm bảo phần ảnh zoom không bị tràn ra ngoài */
  position: relative;
  border-radius: 12px;
}

.zoom-image {
  transition: transform 0.3s ease-in-out;
}

.zoom-container:hover .zoom-image {
  transform: scale(1.2); /* Tăng kích thước ảnh lên 110% khi hover */
}

/* Company detail */
.company-detail-active {
  height: 100%;
  color: red;
  border-bottom: 3px solid red;
}
.content-company {
  background-color: white;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-shadow);
  border-radius: 4px;
  padding: 10px 20px;
  margin-bottom: 8px;
}
.content-company-header {
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  padding: 14px 0px;
  border-bottom: 1px dashed gray;
}
.content-company-label {
  color: gray;
}

.content-company-info {
  font-weight: 500;
}

.create-job-flex {
  @apply flex flex-col items-center justify-between gap-8 lg:flex-row;
}

.create-job-input {
  @apply block w-full flex-1 bg-white py-1.5 pl-3 text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm sm:leading-6;
}
